:root {
  --primaryColor:#3959d7;
  --primaryColorLight: hsl(223 ,100% , 97%);
  --primaryColorDark: hsl(216, 58%, 28%);
  --gradientLight: rgb(114, 145, 255);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: #f5f5f9;
  --blackColor: hsl(0, 0%, 18%);
  --blackColorLight: hsl(233, 3%, 51%);
  --shadowColor: hsl(219, 63%, 95%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --orangeColor: hsl(25, 84%, 53%);
  --biggestFontSize: 2rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.983rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 10px;
}

.About .secContainer {
  flex-direction: column;
  flex-flow: column-reverse;
  gap: 1.5rem;
}
.About .secContainer .textDiv .secTitle {
  text-align: left;
}
.About .secContainer .textDiv .accordion {
  gap: 0.5rem;
  align-items: flex-start;
}
.About .secContainer .textDiv .accordion .singleAccordion {
  cursor: pointer;
  width: 100%;
}
.About .secContainer .textDiv .accordion .singleAccordion .icon {
  color: var(--primaryColor);
  background: var(--primaryColorLight);
  padding: 5px;
  border-radius: 3px;
  font-size: 23px;
}
.About .secContainer .textDiv .accordion .singleAccordion .accordionTitle {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--shadowColor);
  border-radius: var(--borderRadius);
}
.About .secContainer .textDiv .accordion .singleAccordion .accordionTitle .flex {
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.About .secContainer .textDiv .accordion .singleAccordion .accordionTitle .flex .titleText {
  font-weight: 600;
  color: var(--primaryColorDark);
  font-size: var(--normalFontSize);
}
.About .secContainer .textDiv .accordion .singleAccordion .description {
  font-size: var(--normalFontSize);
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 25px;
  height: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding: 0rem 1rem 1.5rem;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
  color: var(--primaryColorDark);
}
.About .secContainer .textDiv .accordion .singleAccordion .show {
  height: 185px;
  opacity: 0.7;
}
.About .secContainer .textDiv .accordion .singleAccordion .activeTitle {
  border: 1px solid transparent;
}
.About .secContainer .textDiv .accordion .activeAccordion {
  box-shadow: 0 4px 8px var(--shadowColor);
  border: 1ps solid var(--shadowColor);
  border-radius: var(--borderRadius);
}

@media screen and (min-width: 540px) {
  .About .secContainer .textDiv {
    flex-basis: 50%;
  }
  .About .secContainer .textDiv .accordion {
    gap: 1rem;
  }
  .About .secContainer .textDiv .accordion .singleAccordion {
    width: 100%;
  }
  .About .secContainer .textDiv .accordion .singleAccordion .description {
    padding: 1.5rem 1rem;
  }
}
@media screen and (min-width: 720px) {
  .About .secContainer {
    flex-direction: row;
    gap: 2rem;
    height: 100%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  .About .secContainer {
    justify-content: space-around;
  }
  .About .secContainer .textDiv {
    flex-basis: 45%;
  }
  .About .secContainer .textDiv .accordion .singleAccordion .description {
    padding: 0 1rem 1.5rem;
  }
  .About .secContainer .textDiv .accordion .singleAccordion .show {
    height: 100%;
  }
  .About .secContainer .imgDiv {
    flex-basis: 40%;
  }
}/*# sourceMappingURL=About.css.map */