@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@200;400;500;700;900&family=Orbitron:wght@700&display=swap');

// font-family: 'Montserrat', sans-serif;
// linear-gradient(40deg, rgb(144, 145, 255), rgb(42, 73, 198))


// This is default code and will be used everywhere in the project

:root{
    // All-project-colors
    --primaryColor:#3959d7;
    --primaryColorLight: hsl(223 ,100% , 97%);
    --primaryColorDark: hsl(216, 58%, 28%);
    --gradientLight: rgb(114, 145, 255);
    --bgColor: hsl(0, 0%, 100%);
    --formColor: hsl(20, 42%, 87%);
    --whiteColor: #f5f5f9;
    --blackColor: hsl(0, 0%, 18%);
    --blackColorLight: hsl(233, 3%, 51%);
    --shadowColor: hsl(219, 63%, 95%);
    --inputColor: hsl(330, 12%, 97%);
    --cardColor: hsl(300, 3%, 94%);
    --orangeColor: hsl(25, 84%, 53%);

    // All-project-font-sizes
    --biggestFontSize: 2rem;
    --h1FontSize: 1.6rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.983rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 10px;

}

.Listing{
    .secContainer{
       .secHeader{
         text-align: center;

        .btns{
            margin-top: 1.5rem;
            gap: 1rem;
            justify-content: center;

            .btn{
                border: 2px solid var(--primaryColorDark);
                background: none;
                color: var(--primaryColorDark);
                font-weight: 500;
                &:hover{
                    background: var(--primaryColor);
                    border: 2px solid transparent;
                    color: var(--whiteColor);
                }
            }

            .active{
                background: var(--primaryColor);
                border: 2px solid transparent;
                color: var(--whiteColor); 
            }
        }
    }
    
    .secContent{
        .singleListing{
            display: grid;
            border-radius: var(--borderRadius);
            padding: 6px;
            overflow: hidden;
            gap: .5rem;
            &:hover{
                box-shadow: 0 4px 6px var(--shadowColor);
                .imgDiv{
                    img{
                        scale: 1.1;
                        transition: .3s ease-in-out;
                    }
                }
            }

            .imgDiv{
                height: 100%;
                width: 100%;
                border-radius: var(--borderRadius);
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .info{
                padding: .5rem .5rem 0;
                .price{
                    font-size: var(--h3FontSize);
                    display: block;
                    font-weight: 600;
                    padding: .5rem 0;

                    .digits{
                        color: var(--primaryColorDark);
                        opacity: .7;
                    }

                    .duration{
                        font-weight: 500;
                        color: var(--primaryColorDark);
                        opacity: .7;
                        font-display: var(--normalFontSize);
                    }
                }
                
                .name{
                    display: block;
                    font-size: var(--h2FontSize);
                    font-weight: 700;
                    color: var(--primaryColorDark);
                }
                p{
                    color: var(--primaryColorDark);
                    opacity: .7;
                    font-size: var(--normalFontSize);
                    line-height: 20px;
                    border-bottom: 2px solid rgb(235,238,242);
                    padding-bottom: 1rem;
                }

                .ammenities{
                    padding: 1rem 0;
                    gap: 1rem;

                    .flex{
                        gap: .5rem;
                        .icon{
                            color: var(--orangeColor);
                        }

                        blockquote{
                            color: var(--blackColor);
                            opacity: .6;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

}


// Media Queries

@media screen and (min-width: 480px) {
    .Listing{
        .secContainer{
            .secContent{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    .Listing{
        .secContainer{
            .secContent{
                gap: 3rem;
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}