@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@200;400;500;700;900&family=Orbitron:wght@700&display=swap");
:root {
  --primaryColor:#3959d7;
  --primaryColorLight: hsl(223 ,100% , 97%);
  --primaryColorDark: hsl(216, 58%, 28%);
  --gradientLight: rgb(114, 145, 255);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: #f5f5f9;
  --blackColor: hsl(0, 0%, 18%);
  --blackColorLight: hsl(233, 3%, 51%);
  --shadowColor: hsl(219, 63%, 95%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --orangeColor: hsl(25, 84%, 53%);
  --biggestFontSize: 2rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.983rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 10px;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  position: fixed;
  background: transparent;
  z-index: 1000;
}
.Navbar .logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navbar .logoDiv .icon {
  color: var(--whiteColor);
  margin-right: 0.5rem;
}
.Navbar .logoDiv span {
  color: var(--whiteColor);
  font-size: var(--h2FontSize);
  justify-content: center;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .Navbar .menu {
    position: absolute;
    width: 70%;
    top: -100rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(40deg, rgb(144, 145, 255), rgb(42, 73, 198));
    padding: 2rem;
    border-radius: var(--borderRadius);
    transition: 0.8s ease-in-out;
    box-shadow: 0 2px 25px -5px var(--shadowColor);
  }
  .Navbar .menu li {
    font-size: var(--h3FontSize);
    font-weight: 500;
    padding: 1rem 0;
    text-align: center;
    color: var(--whiteColor);
    cursor: pointer;
  }
  .Navbar .menu li:hover {
    color: var(--primaryColorLight);
    border-bottom: 1px solid var(--primaryColorLight);
  }
}
.Navbar .menuIcon, .Navbar .closeIcon {
  color: #f5f5f9;
  font-size: var(--h1FontSize);
}
.Navbar .menuIcon:hover, .Navbar .closeIcon:hover {
  color: var(--primaryColorDark);
}
.Navbar .closeIcon {
  position: absolute;
  bottom: -25px;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(40deg, rgb(144, 145, 255), rgb(42, 73, 198));
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px var(--shadowColor);
}
.Navbar .showNavbar {
  top: 8rem;
}

.addBackground {
  background: var(--whiteColor);
  transition: 0.3s ease-in-out;
}
.addBackground .logoDiv .icon, .addBackground .logoDiv span {
  color: var(--primaryColorDark);
  margin-right: 0.5rem;
}
.addBackground .menuIcon {
  color: var(--primaryColorDark);
}
.addBackground .menu ul .navlist {
  color: var(--primaryColorDark);
}

@media screen and (min-width: 768px) {
  .Navbar .logoDiv span {
    font-size: var(--h2FontSize);
  }
  .Navbar .closeIcon, .Navbar .menuIcon {
    display: none;
  }
  .Navbar .menu ul {
    display: flex;
    gap: 3rem;
  }
  .Navbar .menu ul li {
    font-size: var(--h3FontSize);
    font-weight: 500;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
    color: var(--whiteColor);
    opacity: 0.5;
  }
  .Navbar .menu ul li:hover {
    color: var(--primaryColor);
    opacity: 1;
    border-bottom: 4px solid var(--primaryColor);
    border-radius: 3px;
  }
}
@media screen and (min-width: 960px) {
  .Navbar {
    padding: 2rem 10rem;
  }
}
@media screen and (min-width: 1240px) {
  .Navbar {
    padding: 2rem 14rem;
  }
}
@media screen and (min-width: 1440px) {
  .Navbar .logoDiv .icon {
    font-size: var(--h1FontSize);
  }
  .Navbar .logoDiv span {
    font-size: var(--h1FontSize);
  }
}/*# sourceMappingURL=Navbar.css.map */